.menu{
    position: fixed;
    background-color: #ffff;
    width: 100%;
 
   z-index: 1;
   top: 0;
   left: 0;
   right: 0;
}

.cor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.cor nav ul{
    display:flex;
  

}
nav ul li  a {
    margin: 10px;
  display: block;
  color: #000000;
}
nav ul li  a:hover{
  color:red;
} 
li{
  list-style: none;
}
a {
  text-decoration: none;
}
@media(max-width:900px){
  .menu{
    bottom: 0;
    text-align: center;
  
  }
  .cor, .cor nav ul{
     flex-direction: column;
   
     justify-content:center;
  }
  .cor{
      height:100vh;
  }
  .menu{
    display:none;
  }
 
  .close-menu-label::after{
    content:'≡';
    position: fixed;
    z-index:2;
    top:2rem;
    right:2rem;
    background-color: #2f2e2e;
    color:#ffff;
    font-size: 3rem;
    line-height: 3rem;
    width:3rem;
    height:3rem;
    text-align:center;
    padding:0.5rem;
    cursor: pointer;
  }
 
  .close-menu:checked~.menu{
    display:block;
  }
  .close-menu:checked~.close-menu-label::after{
    content:'ℵ';
  
  }
}
.close-menu{
  display:none;
}